.jackets-container {
    display: flex;
    flex-direction: column;

    @media (min-width:680px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    @media (min-width:1400px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px;
    }
}

