.header {
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
}

.nav-links,
.nav-icons{
    display: flex;
}

.nav-logo img {
    max-width: 100px;
}
